AdventureWorksSalesClient/Service References/CustomerManagementServiceReference/CustomerManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailFromPartners" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailOptIn" type="xs:boolean" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element name="EmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailInfo" nillable="true" type="tns:EmailInfo" />
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element name="PhoneNumberTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneInfo" nillable="true" type="tns:PhoneInfo" />
  <xs:complexType name="CreditCardInfo">
    <xs:sequence>
      <xs:element name="CardNumber" nillable="true" type="xs:string" />
      <xs:element name="CardType" nillable="true" type="xs:string" />
      <xs:element name="ExpMonth" type="xs:unsignedByte" />
      <xs:element name="ExpYear" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardInfo" nillable="true" type="tns:CreditCardInfo" />
  <xs:complexType name="CreditCardNumberInUseFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CreditCardNumberInUseFault" nillable="true" type="tns:CreditCardNumberInUseFault" />
</xs:schema>