AdventureWorksSalesClient/Service References/AuthenticationServiceReference/Authentication2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Sales/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" />
  <xs:element name="BeginLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="credentials" nillable="true" type="q1:LoginCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="BeginLoginResult" nillable="true" type="q2:HandshakeToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="handshakeToken" nillable="true" type="q3:HandshakeToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="handshakeToken" nillable="true" type="q4:HandshakeToken" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="secondFactor" nillable="true" type="q5:SecondFactor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="FinishLoginResult" nillable="true" type="q6:AuthToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" minOccurs="0" name="token" nillable="true" type="q7:AuthToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>