AdventureWorksSalesClient/Service References/AuthenticationServiceReference/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Authentication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Sales/Authentication.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Sales/Authentication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Sales/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_BeginLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginLogin" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_BeginLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CancelLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelLogin" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CancelLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_FinishLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishLogin" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_FinishLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="BeginLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/BeginLogin" message="tns:IAuthenticationService_BeginLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/BeginLoginResponse" message="tns:IAuthenticationService_BeginLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/CancelLogin" message="tns:IAuthenticationService_CancelLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/CancelLoginResponse" message="tns:IAuthenticationService_CancelLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/FinishLogin" message="tns:IAuthenticationService_FinishLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/FinishLoginResponse" message="tns:IAuthenticationService_FinishLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/Logout" message="tns:IAuthenticationService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LogoutResponse" message="tns:IAuthenticationService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginLogin">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/BeginLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelLogin">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/CancelLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishLogin">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/FinishLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://localhost/Sales/Authentication.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>