AdventureWorksSalesClient/Service References/AuthenticationServiceReference/Authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdventureWorksSalesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginCredentials">
    <xs:sequence>
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginCredentials" nillable="true" type="tns:LoginCredentials" />
  <xs:complexType name="HandshakeToken">
    <xs:sequence>
      <xs:element name="ExpiresUtc" type="xs:dateTime" />
      <xs:element name="Identifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandshakeToken" nillable="true" type="tns:HandshakeToken" />
  <xs:complexType name="SecondFactor">
    <xs:sequence>
      <xs:element name="OneTimeUseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecondFactor" nillable="true" type="tns:SecondFactor" />
  <xs:complexType name="AuthToken">
    <xs:sequence>
      <xs:element name="ExpiresUtc" type="xs:dateTime" />
      <xs:element name="Hash" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthToken" nillable="true" type="tns:AuthToken" />
</xs:schema>